.hidden{
   display:none;
}

/*general styles*/
header .grid-con {
  background-color: #9D2F56;
}
body {
   font-family: 'Comfortaa', sans-serif;
   font-weight: 400;
   
 }
 img, embed, object, video, picture{
    max-width:100%;

 }
 nav {
  display: inline-block;
  background-color: #C4D682;
 }

  h1, h2, h3, h4, h5{
   font-family: 'Concert One', sans-serif;
   font-weight: 400;
   color:#9D2F56;
 }
 h1{
  font-size: 30pt;
 }
 h2{
  font-size: 28pt;

 }
 h3{ 
  font-size: 24pt;
 }
 h4{
  font-size: 20pt;

 }
 h5{
  font-size:18pt;
 }
 p{
  font-size: 16pt;
 }
 a{
    text-decoration: none;
    transition:all .5s ease-in-out;

 }
 input,textarea{
    display: block;
    margin:0px;
    padding:0px;
 }

 .spacer {
   margin-top: 40px;
 }
/*footercontent*/
footer{
background-color:#9D2F56;
color:white
}
footer a{
  text-decoration: none;
  background-color: #EE753A;
  padding-left: 50px;
  padding-right: 50px;
  padding-top:20px;
  padding-bottom: 20px;
  border-color: #EE753A;
  color:white;
  border-radius: 20%;
  font-size: 18pt;
}


/*--- promotion ---*/
 #promotion {
  background-color: #FFF995;
  text-align: center;
  padding: 0px;
}

#promotion p {
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 
/*--- promotion end ---*/


/*--- header ---*/

.logo{
  height: 100px;
  width: 300px;
  padding-bottom:50px;

}
header {
  background-color: #9D2F56;
  padding: 0px;
}

header img {
  display: block;
  width: 100%;
  max-width: 200px; /* Adjust the size as needed */
  height: auto;
  cursor: pointer;
}

header a {
  display: inline-block;
  margin-right: 0px;
  color: white;
}

header a:hover img {
  opacity: 0.8;
}
header a img{
display: block; 
width:50px;
height:50px;
}

header button{
  background-color: #9D2F56;
  border:solid #9D2F56;
  }
  .hamburgerImg img{
    background-color:#9D2F56;
    width: 60px;
    height: 60px;
    border-color:#9D2F56;
    padding-top:40%;
  } 
  .mobile .hamburgerImg .hamburgericon {
    width:30px;
    height: 30px;
  }
  .hamburger-menu {
    display: block;
    justify-content: space-between;
    align-items: center;
    background-color:#9D2F56;
    color: #fff;
    padding: 5px;
}

.hamburger-icon {
    cursor: pointer;
}

.menu-items {
    list-style: none;
    display: none;
    left:0%;
}

.menu-items li {
    padding: 10px;
}

.menu-items li a {
    color: #fff;
    text-decoration: none;
}

/* Show the menu items when the hamburger icon is clicked */
.menu-items .show-menu {
  display: block;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 100%;
  right: 100%;
  z-index: 98;
  background-color: black;
  color: white;
  transition: 0.4s;
  padding-top: 120px;
}
.menu-items .show-menu li a{
display: block;
width: 100%;
max-width: 200px;
margin: 0 auto 16px;
text-align:center;
padding:12px 16px;
background-color: #8DC63F;

}
/*.show-menu{
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}
*/

nav{
  display:block;
  padding: 0px;
  background-color: #9D2F56;


  


}
ul{
  list-style-type: none;
  margin:0;
  padding: 0;


}
nav li a{
  font-size: 16pt;
display: block;
text-align: center;
text-decoration: none;
transition: 0.2s;


}
 
nav a:hover{
  opacity: 0.7;
}
li{
  padding-left: 20px;
  padding-right: 20px;
float:left
}
/*--- header end ---*/



/*---hero section--- */
.hero {
  background-image: url("../img/header_bg-desktop.jpg");
  background-size: cover;
  background-position: center;
  height:823px;
}
.col-span-4 .hero {
  background-image: url("../img/header-img.jpg");
  background-size: cover;
  background-position: center;
  height:310px;
}

.hero-content {
  color: black; 
  padding-top: 40px;
}

.button {
  display: inline-block;
  background-color: #ff0000; 
  color: #ffffff; 
  padding: 10px 20px;
  text-decoration: none;
}






.branding-promises {
  background-color: #8DC63F; 
  text-align: center;
  padding: 0px;
}
p .branding-promises {
  color:white;
}

/*---hero section end--- */

.about {
  padding: 20px;
}

.about-content-desktop {
  display:block;
}

.about-image {
  display: inline-block;
 height: 200px;


}

.about-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 500px;
  margin-right:500px;
}

.about-icon {
  width: 60px;
  height: 60px; }

.about-content-mobile {
  display: block;
}

.about-image-mobile {
  background-image: url("path/to/about-image-mobile.jpg");
  background-size: cover;
  background-position: center;
}

/*product images*/
.productimage-1 {
  background-size: cover;
  background-position: center;
  background-color: #F4C02E;

}

/*video*/

.video {
     background-image:url("path/to/.video.jpg");
     background-size: cover;
     background-position: center;
     height: 400px;
     background-color: gray; 
}

/* review*/
.review{
  background-color: #EB6763;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
}

/*cans*/
.can-1 {
background-size: cover;
background-position: center;
background-color:#9D2F56;
}

.can-2 {
  background-size: cover;
  background-position: center;
  background-color: #F47723 ; 
  padding-top: 45px;
  }
  
.can-3 {
  background-size: cover;
  background-position: center;
  background-color: #EB6763; 
  padding-top:50px;
  
  }
  
  .carousel-container {
    width: 100%;
    max-width: 600px; /* Set the desired width for the carousel */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-slide {
    display: flex;
    width: 300%; /* 3 images, each taking up 100% of the container */
    animation: slide 10s infinite; /* Adjust the speed and timing as needed */
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  
  @keyframes slide {
    0% { transform: translateX(0); }
    33.33% { transform: translateX(-100%); }
    66.66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
  }
  
  
  
  
  
  
/*recipes*/
.title {
  padding-top: 10px;
  
}

.recipe-1{
  background-size: cover;
  background-position: center;
  background-color: #FFF07B; 
  }
  .recipe-1:hover{
    color:#FFBE7C;
  }
  .recipe-2{
     background-size: cover;
     background-position: center;
     background-color: #FFF07B; 
     }
     .recipe-2:hover{
      color:#FFBE7C

    }

  .recipe-3{
     background-size: cover;
     background-position: center;
     background-color: #FFF07B;

        }

        .recipe-3:hover{
          color:#FFBE7C;
        }

        
/*Newsletter*/

.newsletter-img{
background-image:url("path/to/.newsletter-img");
background-size: cover;
background-position: center;
height: 250px;
background-color: gray;
}

#email {
  display: inline-block;
  background-color:#ffffff;
  padding: 10px 20px;
}


button{
  display: inline-block;
  background-color: #ff0000; 
  color: #ffffff; 
  padding: 10px 20px;
  text-decoration: none;
}

/*Shop*/
.shop-hero{
background-image:url("path/to/.shop-hero.jpg");
background-size: cover;
background-position: center;  
height: 800px;
background-color: #FFBE7C;
}
/*recipe page*/
.recipe-ingredients{
  text-align: left;
}

/*aboout page*/
.about-hero  {
  background-image: url("/img/hero-aboutus-desktop.jpg");
  background-size:cover;
  background-position: center;
 height: 800px;
 background-color: #FFBE7C;
}

.about-hero-mobile{
  background-image: url("/img/hero-aboutus-mobile-2.jpg");
  background-size:cover;
  background-position: center;
  height:400px;
}

.about-hero-text{
padding-top: 60px;
}

.the-about-images img {
  border-radius: 15%;
}