.hidden{
   display:none;
}

/*general styles*/
header .grid-con {
  background-color: #C4D682;
}
body {
   font-family: 'Comfortaa', sans-serif;
   font-weight: 400;
   
 }
 img, embed, object, video, picture{
    max-width:100%;

 }
 nav {
  display: inline-block;
  background-color: #C4D682;
 }

  h1, h2, h3, h4, h5{
   font-family: 'Concert One', sans-serif;
   font-weight: 400;
   color:#9D2F56;
 }
 
 a{
    text-decoration: none;
    transition:all .5s ease-in-out;

 }
 input,textarea{
    display: block;
    margin:0px;
    padding:0px;
 }

 .spacer {
   margin-top: 40px;
 }

footer{
background-color:#FFBE7C;
}

/*--- promotion ---*/
 #promotion {
  background-color: #FFF995;
  text-align: center;
  padding: 0px;
}

#promotion p {
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 
/*--- promotion end ---*/


/*--- header ---*/


header {
  background-color: #f2f2f2;
  padding: 0px;
}

header img {
  display: block;
  width: 100%;
  max-width: 200px; /* Adjust the size as needed */
  height: auto;
  cursor: pointer;
}

header a {
  display: inline-block;
  margin-right: 10px;
  color: #9D2F56;
}

header a:hover img {
  opacity: 0.8;
}

header button{
  background-color: #C4D682;
  border:solid #C4D682;
  }
  .hamburger img{
    background-color:#C4D682;
    width: 50px;
    height: 50px;
    border-color:#C4D682;
  }  
/*--- header end ---*/



/*---hero section--- */
.hero {
  background-image: url("../img/header_bg-desktop.jpg");
  background-size: cover;
  background-position: center;
  height:823px;
}
.col-span-4 .hero {
  background-image: url("../img/header-img.jpg");
  background-size: cover;
  background-position: center;
  height:310px;
}

.hero-content {
  color: black; 
  padding: 20px;
}

.button {
  display: inline-block;
  background-color: #ff0000; 
  color: #ffffff; 
  padding: 10px 20px;
  text-decoration: none;
}






.branding-promises {
  background-color: #8DC63F; 
  text-align: center;
  padding: 0px;
}
p .branding-promises {
  color:white;
}

/*---hero section end--- */

.about {
  padding: 20px;
}

.about-content-desktop {
  display: none;
}

.about-image {
  background-image: url("path/to/about-image-desktop.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

.about-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about-icon {
  width: 60px;
  height: 60px;
  background-color: #ccc; }

.about-content-mobile {
  display: block;
}

.about-image-mobile {
  background-image: url("path/to/about-image-mobile.jpg");
  background-size: cover;
  background-position: center;
}

/*product images*/
.productimage-1 {
  background-size: cover;
  background-position: center;
  background-color: #F4C02E;

}

/*video*/

.video {
     background-image:url("path/to/.video.jpg");
     background-size: cover;
     background-position: center;
     height: 400px;
     background-color: gray; 
}

/*cans*/
.can-1 {
background-size: cover;
background-position: center;
background-color:#9D2F56;
}

.can-2 {
  background-size: cover;
  background-position: center;
  background-color: #F47723 ; 
  }
  
.can-3 {
  background-size: cover;
  background-position: center;
  background-color: #EB6763; 
  }
  
/*recipes*/
.title {
  
}

.recipe-1{
  background-size: cover;
  background-position: center;
  background-color: #FFF07B; 
  }
  .recipe-1:hover{
    color:#FFBE7C;
  }
  .recipe-2{
     background-size: cover;
     background-position: center;
     background-color: #FFF07B; 
     }
     .recipe-2:hover{
      color:#FFBE7C

    }

  .recipe-3{
     background-size: cover;
     background-position: center;
     background-color: #FFF07B;

        }

        .recipe-3:hover{
          color:#FFBE7C;
        }

        
/*Newsletter*/

.newsletter-img{
background-image:url("path/to/.newsletter-img");
background-size: cover;
background-position: center;
height: 250px;
background-color: gray;
}

#email {
  display: inline-block;
  background-color:#ffffff;
  padding: 10px 20px;
}


button{
  display: inline-block;
  background-color: #ff0000; 
  color: #ffffff; 
  padding: 10px 20px;
  text-decoration: none;
}

/*Shop*/
.shop-hero{
background-image:url("path/to/.shop-hero.jpg");
background-size: cover;
background-position: center;
height: 800px;
background-color: #FFBE7C;
}